{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<h1>Welcome to my portfolio!</h1>
<p>Contact with me.</p>
<form method="POST" action="/contact">
    <input type="text" name="name" placeholder="Your name" required><br>
    <input type="email" name="email" placeholder="Your email" required><br>
    <textarea name="message" placeholder="Message" required></textarea><br>
    <button type="submit">Wyślij</button>
</form>

{% if submitted %}
<p>Thank You, for Your message! {{ name }}!</p>
{% endif %}
{% endblock %}
