{% extends "base.html" %}
{% block title %}Strona Główna{% endblock %}
{% block content %}
<h1>Welcome to my portfolio and UCD Assignment!</h1>
<p>This is the main site.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nulla ea minus quaerat ad officia 
    consequuntur voluptatibus ab placeat, 
    vitae accusantium vero harum repellendus voluptatum corporis commodi. 
    Iusto hic qui vero facere quaerat vel placeat neque obcaecati in id. 
    Nostrum ea quibusdam vero deserunt temporibus tempora rem, praesentium voluptatum sit 
    veritatis totam similique pariatur, omnis voluptate eius esse repellendus at quod? Totam, 
    nobis porro error deserunt assumenda soluta. Quibusdam nobis accusantium, possimus quae fugiat odio sunt qui 
    vel eveniet deserunt enim accusamus, modi dolorem molestiae ullam ea error hic! Eum, 
    eos accusamus delectus obcaecati vero nostrum iusto culpa. Odio, sapiente.</p>
{% endblock %}
